h1 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Archivo', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

section {
    border: 3px solid lightgray;
    margin: 20px auto;
    padding: 20px 50px;
}

.color-panel {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin: 20px auto;
}

.candy-pink {
    background-color: #e7717d;
}

.green-yellow {
    background-color: #afd275;
}

.gray {
    background-color: #c2cad0;
}

.pastel-brown {
    background-color: #7e685a;
    color: white;
}

.tan {
    background-color: #c2b9b0;
}